rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() &&
        ((firestore.exists(/databases/(default)/documents/users/$(request.auth.uid)) && 
          firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role in ['admin', 'teacher']) ||
         request.auth.token.email == "guantesparaencajar@gmail.com" ||
         request.auth.token.email == "hernandezkevin001998@gmail.com");
    }

    match /entrenos/{allPaths=**} {
      allow read, write: if isAuthenticated();
    }

    match /workouts/{allPaths=**} {
      allow read, write: if isAuthenticated();
    }

    match /community/{allPaths=**} {
      allow read, write: if isAuthenticated();
    }

    match /combos/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }

    match /pagos/{uid}/{fileName} {
      allow read: if isAuthenticated() && (request.auth.uid == uid || isAdmin());
      allow write: if isAuthenticated() && request.auth.uid == uid && request.resource.size < 10 * 1024 * 1024;
      allow write: if isAdmin();
      allow delete: if isAdmin();
    }
    
    // Default rule for other files
    match /{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
  }
}
